{% extends "admin/base_site.html" %}

{% block content %}
    <h1>Import Medium Articles</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="article_urls">Medium Article URLs (One per line):</label>
            <textarea class="form-control" id="article_urls" name="article_urls" rows="10"></textarea>
        </div>
        <div class="form-group">
            <label for="tag">Tag for these Articles:</label>
            <select class="form-control" id="tag" name="tag">
                {% for tag in tags %}
                <option value="{{ tag.id }}">{{ tag.name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Import</button>
    </form>
{% endblock %}
