{% extends "base.html" %}

{% block content %}

<div class="container">
    <h2 class="mt-5 mb-4">Contribute to Practical Bug Bounty</h2>
    <p>
        Thank you for your interest in contributing to the Practical Bug Bounty platform! We value the efforts of the community in making this platform a comprehensive resource for bug bounty enthusiasts.
    </p>

    <section class="mt-4">
        <h3>Contributing to the Web Platform</h3>
        <p>
            If you have feature suggestions, bug fixes, or any other contributions to the main platform, follow these steps:
        </p>
        <ol>
            <li>Fork the <a href="https://github.com/PatrikFehrenbach/practical-bug-bounty" target="_blank">main repository</a>.</li>
            <li>Clone your fork and create a new branch for your feature or fix.</li>
            <li>Once you've made your changes, submit a pull request to the main repository.</li>
            <li>Your changes will be reviewed and merged upon approval.</li>
        </ol>
    </section>

    <section class="mt-4">
        <h3>Contributing to Content</h3>
        <p>
            For content contributions, we maintain a separate repository. To contribute to the content:
        </p>
        <ol>
            <li>Fork and clone the <a href="https://github.com/PatrikFehrenbach/practical-bug-bounty-content" target="_blank">content repository</a>.</li>
            <li>Create a new module, submodule, or topic by following the folder structure and adding the necessary JSON and markdown files.</li>
            <li>Use the provided script to generate a Django-compatible JSON dump.</li>
            <li>Submit a pull request with your changes to the content repository.</li>
            <li>Your content will be reviewed and, if approved, merged and reflected on the main platform.</li>
        </ol>
    </section>

    <section class="mt-4">
        <h3>Stay Connected</h3>
        <p>
            Join our community on Discord, Twitter, or any other platform to stay updated, get support, and collaborate with other contributors.
        </p>
        <!-- Add social media or community links here if available -->
    </section>
</div>

{% endblock %}
