{% extends "base.html" %}

{% block content %}


<section class="mt-5">
    <h3>Our Philosophy</h3>
    <p>
        At the heart of Practical Bug Bounty lies a set of core beliefs and values that drive the essence of this project. Here's what we stand for:
    </p>
    
    <div class="philosophy-point mt-3">
        <h4>Information Should Be Free</h4>
        <p>
            We firmly believe that knowledge, especially in the domain of cybersecurity and ethical hacking, should be accessible to everyone. In a rapidly evolving digital world, restricting vital information behind paywalls limits the growth and potential of budding enthusiasts.
        </p>
    </div>

    <div class="philosophy-point mt-3">
        <h4>Pushing Back Against Paid Content Overload</h4>
        <p>
            The internet has seen a surge of premium courses, exclusive content, and gated communities. While quality education is valuable, it's essential to have a balance. We aim to offer a comprehensive, free alternative, ensuring that financial constraints don't hinder one's learning journey.
        </p>
    </div>

    <div class="philosophy-point mt-3">
        <h4>Community-Curated Content</h4>
        <p>
            The strength of Practical Bug Bounty lies in its community. Unlike many platforms that are driven by a handful of individuals or organizations, our content is curated, refined, and vetted by a diverse community ensuring relevance, quality, and up-to-date information.
        </p>
    </div>

    <div class="philosophy-point mt-3">
        <h4>Platform Independence</h4>
        <p>
            We are committed to maintaining a platform that stands independent, without external influences that could sway our content or decisions. Our allegiance lies with the community and the shared goal of free and open dissemination of knowledge.
        </p>
    </div>
</section>

{% endblock %}