{% extends "base.html" %}

{% block content %}

<div class="container">
    <h2 class="mt-5 mb-4">Practical Bug Bounty Community</h2>
    <p>
        Welcome to the heart of the Practical Bug Bounty platform – our vibrant, growing community! Whether you're a seasoned security researcher, a budding bug bounty hunter, or someone passionate about cybersecurity, there's a place for you here.
    </p>

    <section class="mt-4">
        <h3>Join the Discussion</h3>
        <p>
            Our community thrives on active discussions, knowledge sharing, and mutual support. Dive into the conversation on our main platforms:
        </p>
        <div>
            <!-- Discord Invite Link -->
            <a href="https://discord.com/invite/EzWSATJVWZ" target="_blank" class="btn btn-primary mb-2">
                <i class="bi bi-discord"></i> Join us on Discord
            </a>
            <br>
            <!-- Twitter Profile Link -->
            <a href="https://twitter.com/ITSecurityguard" target="_blank" class="btn btn-info">
                <i class="bi bi-twitter"></i> Follow Patrik on Twitter
            </a>
        </div>
    </section>
</div>

{% endblock %}
