{% extends "base.html" %}

{% block content %}

<div class="container">
    <h2 class="mt-5 mb-4">Contact</h2>
    <p>
        We value your feedback and inquiries. Whether you have a question, suggestion, or just want to say hello, feel free to reach out. We're always here to help and collaborate.
    </p>

    <section class="mt-4">
        <h4>Email</h4>
        <p>
            For general inquiries, send us an email at: <a href="mailto:contact@practicalbugbounty.com">contact@practicalbugbounty.com</a>
        </p>
        
        <h4>Connect on Social Media</h4>
        <p>
            <a href="https://twitter.com/ITSecurityguard" target="_blank"><i class="bi bi-twitter"></i> @ITSecurityguard on Twitter</a>
        </p>
        
        <h4>Join Our Discord Community</h4>
        <p>
            Interact with fellow enthusiasts and get real-time support: <a href="https://discord.com/invite/EzWSATJVWZ" target="_blank">Practical Bug Bounty Discord</a>
        </p>
    </section>
</div>

{% endblock %}
