{% extends "base.html" %}

{% block content %}

<div class="container">
    <h2 class="mt-5 mb-4">Contribute to Practical Bug Bounty</h2>
    <p>
        The strength of Practical Bug Bounty lies in the collective knowledge and contributions of its community. Here's how you can play a part in shaping this platform.
    </p>

    <section class="mt-4">
        <h3>Contribute to the Platform</h3>
        <p>
            Enhance the platform's features, suggest improvements, or fix bugs. Dive into the code:
        </p>
        <ol>
            <li>Fork the <a href="https://github.com/PatrikFehrenbach/practical-bug-bounty" target="_blank">main repository</a>.</li>
            <li>Clone your fork and create a new branch for your feature or fix.</li>
            <li>Submit a pull request to the main repository.</li>
            <li>Engage in the review process and see your contributions come to life!</li>
        </ol>
    </section>

    <section class="mt-4">
        <h3>Share Your Knowledge</h3>
        <p>
            Contribute tutorials, articles, or videos, and help expand our content repository:
        </p>
        <ol>
            <li>Visit the <a href="https://github.com/PatrikFehrenbach/practical-bug-bounty-content" target="_blank">content repository</a>.</li>
            <li>Follow our content guidelines and submit your contributions.</li>
            <li>Engage with the community as they review and provide feedback on your content.</li>
        </ol>
    </section>

    <section class="mt-4">
        <h3>Support & Feedback</h3>
        <p>
            Your feedback is invaluable. Share your thoughts, report issues, or provide suggestions to make Practical Bug Bounty better for everyone.
        </p>
        <!-- Add a link or form for feedback here -->
    </section>

</div>

{% endblock %}
