{% extends "base.html" %}
{% load video_filters %}
{% load markdownify %}

{% block content %}
<div class="text-center mb-5">
    <h1 class="display-4 soft-text">Practical Bug Bounty</h1>
    <p class="soft-text">A free video course from the community, for the community ❤️</p>
    <div class="dropdown">
        <!-- Search Container -->
        <div class="search-container mx-auto" style="max-width: 600px;">
            <div class="input-group mb-3">
                <!-- Search Input -->
                <input type="text" id="search-input" class="form-control rounded-pill" placeholder="Search for topics, videos, notes..." aria-label="Search" aria-describedby="search-icon">
                <!-- Icon -->
                <div class="input-group-append">
                    <span class="input-group-text bg-transparent border-0" id="search-icon"><i class="bi bi-search"></i></span>
                </div>
            </div>
            <!-- Live Search Dropdown -->
            <div id="live-search-results" class="dropdown-menu" aria-labelledby="search-input"></div>
        </div>
    </div>
</div>

{% for module in modules %}
    <!-- Module -->
    <div class="card mb-5 shadow-lg rounded">
        <div class="card-header soft-primary d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#module-{{ module.id }}" aria-expanded="false" aria-controls="module-{{ module.id }}" style="cursor:pointer;">
            <h5 class="soft-text mb-0">
                <i class="bi bi-folder-plus"></i> Module: {{ module.name }}
            </h5>
            <i class="bi bi-chevron-down arrow-icon"></i>
        </div>
        <div class="collapse" id="module-{{ module.id }}">
            <ul class="list-group list-group-flush">
                {% for submodule in module.submodules.all %}
                    <!-- SubModule -->
                    <li class="list-group-item bg-light hover-shadow">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="soft-text font-weight-bold">
                                <i class="bi bi-folder2-open"></i> {{ submodule.name }}
                            </span>
                            <div>
                                <button class="btn btn-link text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#topics-{{ submodule.id }}" aria-expanded="false" aria-controls="topics-{{ submodule.id }}">
                                    <i class="bi bi-list"></i> View Topics
                                </button>
                                <button class="btn btn-link text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#notes-{{ submodule.id }}" aria-expanded="false" aria-controls="notes-{{ submodule.id }}">
                                    <i class="bi bi-book"></i> View Course Notes
                                </button>
                                <button class="btn btn-link text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#links-{{ submodule.id }}" aria-expanded="false" aria-controls="links-{{ submodule.id }}">
                                    <i class="bi bi-link-45deg"></i> View Additional Links
                                </button>
                            </div>
                        </div>

                        <!-- Topics Collapse Section -->
                        <div class="collapse mt-3 bg-white p-2 rounded shadow-sm" id="topics-{{ submodule.id }}">
                            {% for topic in submodule.topics.all %}
                                <div class="mt-2">
                                    <h6 class="soft-text font-weight-bold">{{ topic.name }}</h6>
                                    {% for video in topic.videos.all %}
                                        <div class="d-flex justify-content-between align-items-center hover-bg p-2 rounded my-1">
                                            <span class="soft-text ml-2">{{ video.title }}</span>
                                            <div>
                                                <button class="btn btn-outline-dark btn-sm" data-bs-toggle="modal" data-bs-target="#videoModal-{{ video.id }}">
                                                    <i class="bi bi-play"></i> Watch
                                                </button>
                                                <button class="btn btn-outline-info btn-sm" data-bs-toggle="modal" data-bs-target="#detailsModal-{{ video.id }}">
                                                    <i class="bi bi-info-circle"></i> Details
                                                </button>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>

                        <!-- Course Notes Collapse Section -->
                        <div class="collapse mt-3 bg-white p-2 rounded shadow-sm" id="notes-{{ submodule.id }}">
                            {% for topic in submodule.topics.all %}
                                {% for note in topic.notes.all %}
                                    <p class="soft-text">{{ note.content | formatted_markdown  }}</p>
                                {% endfor %}
                            {% endfor %}
                        </div>

                        <!-- Additional Links Collapse Section -->
                        <div class="collapse mt-3 bg-white p-2 rounded shadow-sm" id="links-{{ submodule.id }}">
                            {% for topic in submodule.topics.all %}
                                {% for link in topic.additional_links.all %}
                                    <p><a href="{{ link.url }}" class="soft-text" target="_blank">{{ link.description | formatted_markdown }}</a></p>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
            <!-- Video Modals -->
    {% for submodule in module.submodules.all %}
    {% for topic in submodule.topics.all %}
    {% for video in topic.videos.all %}
        <div class="modal fade" id="videoModal-{{ video.id }}" tabindex="-1" aria-labelledby="videoModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="videoModalLabel">{{ video.title }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <iframe width="100%" height="315" src="{{ video.url|embed_url }}" frameborder="0" allowfullscreen></iframe>
                    </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
{% endfor %}

    </div>
{% endfor %}

<style>

    html[data-bs-theme='dark'] .bg-light {
        background-color: #242424 !important;
        color: #ddd !important;
    }
    
    /* Override `text-dark` for dark mode */
    html[data-bs-theme='dark'] .text-dark {
        color: #ddd !important;
    }
    /* Override `bg-white` for dark mode */
    html[data-bs-theme='dark'] .bg-white {
        background-color: #242424 !important;
        color: #ddd !important;
    }
    
    /* Adjust hover effect for dark mode */
    html[data-bs-theme='dark'] .hover-bg:hover {
        background-color: #343a40 !important;
    }
    
    /* Override `btn-outline-dark` for dark mode */
    html[data-bs-theme='dark'] .btn-outline-dark {
        color: #f8f9fa !important;
        border-color: #f8f9fa !important;
    }
    
    html[data-bs-theme='dark'] .btn-outline-dark:hover {
        color: #242424 !important;
        background-color: #f8f9fa !important;
        border-color: #f8f9fa !important;
    }
    
    /* Override `btn-outline-info` for dark mode */
    html[data-bs-theme='dark'] .btn-outline-info {
        color: #17a2b8 !important;
        border-color: #17a2b8 !important;
    }
    
    html[data-bs-theme='dark'] .btn-outline-info:hover {
        color: #242424 !important;
        background-color: #17a2b8 !important;
        border-color: #17a2b8 !important;
    }
    
    /* Adjusting link colors in dark mode */
    html[data-bs-theme='dark'] a.soft-text {
        color: #81a1c1 !important;
    }
    /* Remove the underline from the btn-link globally */
    .btn-link {
        text-decoration: none !important;
    }

    /* Adjust the color of the btn-link text and icons */
    .btn-link.text-dark, .btn-link.text-dark i.bi {
        color: #495057;  /* Default color for light mode */
    }

    .btn-link.text-dark:hover, .btn-link.text-dark:focus {
        color: #343a40;  /* Adjust the hover/focus color as needed */
        text-decoration: none !important;
    }

    /* For dark mode color adjustments */
    html[data-bs-theme='dark'] .btn-link.text-dark, html[data-bs-theme='dark'] .btn-link.text-dark i.bi {
        color: #f8f9fa !important;
    }

    html[data-bs-theme='dark'] .btn-link.text-dark:hover, html[data-bs-theme='dark'] .btn-link.text-dark:focus {
        color: #81a1c1 !important;  /* Adjust the hover/focus color as needed for dark mode */
    }

    .navbar {
        transition: all 0.3s ease;
    }
    
    .navbar-light .navbar-toggler-icon {
        display: none; /* hides default icon */
    }
    
    .navbar-light .navbar-toggler {
        border: none;
    }
    
    .cursor-pointer {
        cursor: pointer;
    }
    
    /* Navbar hover effects */
    .navbar-nav .nav-link:hover {
        color: #343a40 !important; /* adjust as needed */
    }
    
    /* Dark Mode Adjustments */
    html[data-bs-theme='dark'] .navbar-light {
        background-color: #242424 !important;
    }
    
    html[data-bs-theme='dark'] .navbar-light .navbar-brand,
    html[data-bs-theme='dark'] .navbar-light .navbar-nav .nav-link {
        color: #f8f9fa !important;
    }
    
    /* Dark Mode Toggle Icon Adjustments */
    html[data-bs-theme='dark'] .light-icon {
        display: none;
    }
    
    html[data-bs-theme='dark'] .dark-icon {
        display: inline;
    }
    .centered-navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .navbar {
        transition: all 0.3s ease;
    }
    
    .navbar-light .navbar-toggler-icon {
        display: none; /* hides default icon */
    }
    
    .navbar-light .navbar-toggler {
        border: none;
    }
    
    .cursor-pointer {
        cursor: pointer;
    }
    
    .navbar-nav .nav-link {
        transition: color 0.3s ease, transform 0.3s ease;
    }
    
    /* Navbar hover effects */
    .navbar-nav .nav-link:hover {
        color: #343a40 !important; /* adjust as needed */
        transform: scale(1.1);
    }
    
    /* Dark Mode Adjustments */
    html[data-bs-theme='dark'] .navbar-light {
        background-color: #242424 !important;
    }
    
    html[data-bs-theme='dark'] .navbar-light .navbar-brand,
    html[data-bs-theme='dark'] .navbar-light .navbar-nav .nav-link {
        color: #f8f9fa !important;
    }
    
    /* Dark Mode Toggle Icon Adjustments */
    html[data-bs-theme='dark'] .light-icon {
        display: none;
    }
    
    html[data-bs-theme='dark'] .dark-icon {
        display: inline;
    }
    .navbar-nav .nav-link:hover {
        color: #81a1c1 !important;
        transform: scale(1.1);
    }

    /* Adjust the dropdown arrow to reflect the state of the dropdown */
    .navbar-collapse[aria-expanded="true"] .bi-chevron-down {
        transform: rotate(180deg);
    }

    /* Enhance the look of the buttons for clarity */
    .btn {
        transition: transform 0.3s ease;
    }
    .btn:hover {
        transform: scale(1.1);
    }
</style>

{% endblock content %}
