{% extends "base.html" %}
{% load video_filters %}
{% load markdownify %}

{% block content %}
<div class="text-center mb-5">
    <h1 class="display-4 soft-text">Practical Bug Bounty</h1>
    <p class="soft-text">A free video course from the community, for the community ❤️</p>
    <div class="dropdown">
        <!-- Search Container -->
        <div class="search-container mx-auto" style="max-width: 600px;">
            <div class="input-group mb-3">
                <!-- Search Input -->
                <input type="text" id="search-input" class="form-control rounded-pill" placeholder="Search for topics, videos, notes..." aria-label="Search" aria-describedby="search-icon">
                <!-- Icon -->
                <div class="input-group-append">
                    <span class="input-group-text bg-transparent border-0" id="search-icon"><i class="bi bi-search"></i></span>
                </div>
            </div>
            <!-- Live Search Dropdown -->
            <div id="live-search-results" class="dropdown-menu" aria-labelledby="search-input"></div>
        </div>
    </div>
</div>

{% for module in modules %}
    <!-- Module -->
    <div class="card mb-5 shadow-lg rounded">
        <div class="card-header soft-primary d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#module-{{ module.id }}" aria-expanded="false" aria-controls="module-{{ module.id }}" style="cursor:pointer;">
            <h5 class="soft-text mb-0">
                <i class="bi bi-folder-plus"></i> Module: {{ module.name }}
            </h5>
            <i class="bi bi-chevron-down arrow-icon"></i>
        </div>
        <div class="collapse" id="module-{{ module.id }}">
            <ul class="list-group list-group-flush">
                {% for submodule in module.submodules.all %}
                    <!-- SubModule -->
                    <li class="list-group-item bg-light hover-shadow">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="soft-text font-weight-bold">
                                <i class="bi bi-folder2-open"></i> {{ submodule.name }}
                            </span>
                            <div>
                                <button class="btn btn-link text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#topics-{{ submodule.id }}" aria-expanded="false" aria-controls="topics-{{ submodule.id }}">
                                    <i class="bi bi-list"></i> View Topics
                                </button>
                                <button class="btn btn-link text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#notes-{{ submodule.id }}" aria-expanded="false" aria-controls="notes-{{ submodule.id }}">
                                    <i class="bi bi-book"></i> View Course Notes
                                </button>
                                <button class="btn btn-link text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#links-{{ submodule.id }}" aria-expanded="false" aria-controls="links-{{ submodule.id }}">
                                    <i class="bi bi-link-45deg"></i> View Additional Links
                                </button>
                            </div>
                        </div>

                        <!-- Topics Collapse Section -->
                        <div class="collapse mt-3 bg-white p-2 rounded shadow-sm" id="topics-{{ submodule.id }}">
                            {% for topic in submodule.topics.all %}
                                <div class="mt-2">
                                    <h6 class="soft-text font-weight-bold">{{ topic.name }}</h6>
                                    {% for video in topic.videos.all %}
                                        <div class="d-flex justify-content-between align-items-center hover-bg p-2 rounded my-1">
                                            <span class="soft-text ml-2">{{ video.title }}</span>
                                            <div>
                                                <button class="btn btn-outline-dark btn-sm btn-watch" data-video-id="{{ video.id }}">
                                                    <i class="bi bi-play"></i> Watch
                                                </button>
                                                <button class="btn btn-outline-info btn-sm" data-bs-toggle="modal" data-bs-target="#detailsModal-{{ video.id }}">
                                                    <i class="bi bi-info-circle"></i> Details
                                                </button>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>

                        <!-- Course Notes Collapse Section -->
                        <div class="collapse mt-3 bg-white p-2 rounded shadow-sm" id="notes-{{ submodule.id }}">
                            {% for topic in submodule.topics.all %}
                                {% for note in topic.notes.all %}
                                    <p class="soft-text">{{ note.content | formatted_markdown  }}</p>
                                {% endfor %}
                            {% endfor %}
                        </div>

                        <!-- Additional Links Collapse Section -->
                        <div class="collapse mt-3 bg-white p-2 rounded shadow-sm" id="links-{{ submodule.id }}">
                            {% for topic in submodule.topics.all %}
                                {% for link in topic.additional_links.all %}
                                    <p><a href="{{ link.url }}" class="soft-text" target="_blank">{{ link.description | formatted_markdown }}</a></p>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    <!-- Privacy Modal for Each Video -->
    {% for submodule in module.submodules.all %}
        {% for topic in submodule.topics.all %}
            {% for video in topic.videos.all %}
            <div class="modal fade" id="privacyModal-{{ video.id }}" tabindex="-1" aria-labelledby="privacyModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="privacyModalLabel">Privacy Statement</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            By watching this video, you agree to share data with YouTube. Do you want to proceed?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="embedVideo('{{ video.id }}')">Proceed</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Video Modal -->
            <div class="modal fade" id="videoModal-{{ video.id }}" tabindex="-1" aria-labelledby="videoModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="videoModalLabel">{{ video.title }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="video-placeholder" data-url="{{ video.url|embed_url }}"></div>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
        {% endfor %}
    {% endfor %}

    </div>
{% endfor %}

{% endblock content %}
