{% extends "base.html" %}

{% load custom_filters %}

{% block content %}

<h1 class="mb-4">Resources</h1>

<!-- Search and Tag Filter -->
<div class="mb-4 d-flex justify-content-between">
    <input type="text" class="form-control d-inline-block w-auto mr-3" placeholder="Search resources...">
    
    <!-- Tag Filtering -->
    <div>
        <strong>Filter by Tags:</strong>
        {% for tag in tags %}
            <a href="?tag={{ tag.name }}" class="badge text-dark bg-light mx-1 border rounded-pill">{{ tag.name }}</a>
        {% endfor %}
    </div>
</div>

<!-- Tabs for Resource Types -->
<ul class="nav nav-tabs mb-4">
    {% for type, display_name in RESOURCE_TYPES %}
    <li class="nav-item">
        <a class="nav-link text-dark" data-bs-toggle="tab" href="#{{ type }}"><i class="{{ icons|get_item:type }} mr-2"></i>{{ display_name }}</a>
    </li>
    {% endfor %}
</ul>

<!-- Tab Content -->
<div class="tab-content">
    {% for type, display_name in RESOURCE_TYPES %}
    <div class="tab-pane fade" id="{{ type }}">
        <ul class="list-group">
            {% for resource in resources %}
            {% if resource.resource_type == type %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <strong><a href="{{ resource.url }}" class="text-dark" target="_blank">{{ resource.title }}</a></strong><br>
                    <span class="text-muted">{{ resource.description|truncatechars:100 }}</span>
                </div>
                <span class="badge bg-light text-dark">{{ resource.author }}</span>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>

{% endblock %}
